.containerNosotros{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.imageNosotros{
    margin: auto;
    width: 40%;
    
}
.imageNosotros img{
    width: 500px;
    height: 700px;
    margin-bottom: 50px;
}
.containerNosotros p{
    text-align:justify;
}
