.imageContacto{
    
    margin: auto;
    width: 800px ;
}

.imageContacto img{
    
    margin: auto;
    width: 800px ;
    margin-top: 80px;
    height: 280px;
    border-radius: 5px;
    
}

.paragraph{
    text-align: center;
    text-align: justify;
    width: 40%;
}


