.bestsellers {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
    color:rgb(54, 54, 53)
}
.KokedamasTitle{
    margin-top: 120px;
    color:rgb(54, 54, 53)

}
.sideText{
    margin:auto;
    font-size: 22px;
    text-align:justify;
}

.container-img {
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    gap: 15px;
    width: 60%;
}

.container-img div {
    width: 300px;
    align-items: center;
    margin-bottom: 20px;
}
.container-img img {
    width: 100%;
}

.container-img p{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.container-img .price{
    font-weight: bold;
} 

.container-main {
    display: flex;
    padding: 40px;
    justify-content: center;
    width: 65%;
    margin: auto;
    margin-top: 80px;
    
    gap: 40px;
    align-items:center;
}

.container-main h1 {
    font-weight: lighter;
    font-size: 1.5em;
    text-align: justify;
   
    
    
}

hr{
  
    width: 40% ;
    margin: 100px auto;
}

.linkonebyone {
    text-decoration: none;
    color: black;
    
}

.linkonebyone :hover{
    color:rgb(60, 141, 60)
}


