.bestsellers {
    margin-top: 90px;
    text-align: center;
    margin-bottom: 90px;
}

.container-img {
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    gap: 15px;
    width: 80%;
}