
.login-form{
    width: 40%;
    margin: 20px auto;
    box-shadow: 1px 1px 5px grey;
    border-radius: 10px;
    padding: 60px;
    margin-bottom: 60px;
    margin-top: 100px;
   
}

.login-title{
  text-align: center;
  margin-bottom: 35px;
}

.inputs-form{
    width: 100%;
    
    
}

.login-form button{
    width: 100%;
    margin: 15px auto;
    
}

.login-form .inputs-form input, 
.login-form .inputs-form label{
    width: 100%;
    
   

} 
.forgot{
    text-decoration: none;
    color:rgb(46, 117, 52);
    margin-bottom: 5px;
    

}
.register{
    text-decoration: none;
    color:rgb(46, 117, 52);
}
.EmailInput{
    margin-bottom: 20px;
}
