.navbar {
    background-color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}

.navbar a {
    text-decoration: none;
    padding: 25px;
    color: black;
   

}

.navbar :hover{
    color: rgb(57, 110, 73);

}